.price-one a{
    border-radius: 28px;
    text-align: center;
    border: 1px solid #fff;
line-height: 45px;
color: #fff;
display: inline-block;
font-size: 18px;
width: 135px;
height: 46px;
background-color: #0c5adb;
text-decoration: none;
font-weight: bold;
}
.price-one{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.price-one #year{
    background-color: #fff;
    color: black; 
}
.price-one #year:hover{
    border-radius: 28px;
    text-align: center;
    border: 1px solid #fff;
line-height: 45px;
color: #fff;
display: inline-block;
font-size: 18px;
width: 135px;
height: 46px;
background-color: #0c5adb;
text-decoration: none;
font-weight: bold;  
}
.price-inner{
     display: flex;
    justify-content: center;
    align-items:baseline;
    gap: 30px;
    margin-top: 60px; 
}
.price-inner #basic-two{
    display: none;
}
.price-inner #standard-two{
    display: none;
}
.price-inner #premium-two{
    display: none;
}
.price-inner h4{
    font-size: 22px;   
    font-weight: bold;    
    font-family: 'Heebo' sans-serif;
    color: #051229;
    margin: 0 0 10px;
}
.price-inner p{
    font-size: 18px;       
    font-family: 'Heebo' sans-serif;
    color: #6c757d;
}
.price-inner h2{
    font-size: 50px;   
    font-weight: bold;    
    font-family: 'Heebo' sans-serif;
    color: #0c5adb;
    text-transform:uppercase;
    font-weight: 700;
    margin: 15px 0;
}
.price-inner div{
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24%;
    border-radius: 5px;
    padding: 40px 30px;
}
.price-inner ul{
    padding: 24px 0 0;
    list-style: none;
    border-top: 1px solid #dee2e6!important;
}
.price-inner ul li:first-child{
    font-size: 18px;       
    font-family: 'Heebo' sans-serif;
    color: #959da3;
    text-transform: uppercase;
    margin: 0 0 16px;
}
.price-inner ul li:not(first-child){
    font-size: 18px;       
    font-family: 'Heebo' sans-serif;
    color: #959da3;
  padding: 0 0 0 37px;
    margin: 15px 0 0;
    position: relative;
}
.price-inner Li .fa-check{
    background-color: #cedef9;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    line-height: 15px;
    text-align: center;
    color: #0c5adb;
    position: absolute;
    left: 0px;
    top: 3px; 
}
.price-inner a{
    display: inline-block;
    width: 290px;
    height: 48px;
    border-radius: 25px;
    background-color: #0c5adb;
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    margin: 24px 0 0;
    text-decoration: none;
}
